.body {
  font-family: "Roboto", sans-serif;
}

.page-wrapper {
  max-width: 940px;
  margin: auto;
}

.nav {
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 33.5px;
  padding-bottom: 31.86px;
  border-bottom: 1px solid #828282;
}

.nav_link {
  font-size: 18px;
  color: #828282;
  line-height: 22px;
  text-decoration: none;
  font-weight: bold;
}

.nav_link_enabled {
  color: black;
}

.header {
}

.header_title {
  font-size: 47px;
  width: 123px;
  margin: 0%;
}

.header_lang_link {
  font-size: 16px;
  line-height: 20px;
  color: #828282;
  text-decoration: none;
}

.header_lang_container {
  transform: rotate(-90deg);
  padding: 0px;
  width: 65px;
  height: 20px;
  margin: 0px;
}

.header_image {
  width: 100%;
  height: 387px;
  object-fit: cover;
}

.header_subtitle-container {
  max-width: 155px;
  display: flex;
  align-items: center;
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

.header_seprator {
  font-size: 16px;
  line-height: 20px;
  color: black;
  font-weight: 550;

}

.header_subtitle-text{
  font-size: 18px;
  line-height: 22px;
  font-weight: 340;
  margin: 0%;
}

.header_lang_link_active{
color: black;

}